@CHARSET "ISO-8859-1";

#box{
	margin-left: 150px;
	width: 900px;
}


#header{
	height: 150px;
	background-color: #f2f2f2;	
}

#menu{
	height: 48px;
	background-color: #E1E1E1;
}

#menu p:menubar{
	height: 30px;
}

#sessao{
	float: right;
	color: white;
}

#content{
	margin: 0px;
	padding:0px;
	background-color: #dbf1f9;
	height: 600px;
}

#login{
	width: 200px;
	margin-left: 350px;
	padding-top: 100px;
}

#conteudo{
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 15px;
}

#footer{
	height: 50px;
	background-color: #ffe1e1;
}
